.footer-wrapper {
  background-color: black;
  color: white;
  text-align: center;
  padding: .6rem;
  width: 100%;
  margin-top: 90px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-note {
  font-size: 14px;
  opacity: 0.7;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-links {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
