.wrapper-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Limit to full screen */
  overflow: hidden;
}

.background-container {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* allow foreground interaction */
}

.foreground-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Mobile behavior */
@media (max-width: 768px) {
  .foreground-container {
    flex-direction: column;
    padding: 20px;
  }
}
